# Terraform working directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files may contain sensitive values
*.tfvars
!*.tfvars.example

# Terraform crash logs
crash.log
crash.*.log

# Archive files
app.zip